@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.bg-custom{
    background-color: #fceec8;
}
.container-custom{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
}
.card:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
  }